.form-control{
    /* width: 30%; */
}
.ctn{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px;
    /* border: 1px solid black; */
    width: 50%;
    background-color: #fff;
    /* text-align: center; */
    /* justify-content: center; */
}
body{
    background-color: rgb(241, 241, 241);
}