@{
  ViewData["Title"] = "Login";
}

<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth px-0">
      <div class="row mx-12 col-md-12">
        <div class="col-lg-6 mx-auto card-service" style="max-width: unset;">
          <div class="auth-form-light text-left py-5 px-4 px-sm-5">
            <div class="mb-3">
              <a href="#" class="navbar-brand text-black">Seo<span class="text-primary">Gram.</span></a><br>
            </div>
            <h4>Page connexion</h4>
            @if(ViewBag.Exception != null) {
              <h6 class="font-weight-light text-danger">@ViewBag.Exception</h6>
            } else {
              <h6 class="font-weight-light text-secondary">Identifiez vous</h6>
            }
            <form class="pt-3" method="post" asp-controller="Login" asp-action="Check">
              <div class="form-group">
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Adresse email">
              </div>
              <div class="form-group">
                <input type="password" name="mdp" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe">
              </div>
              <div class="mb-3">
                <br><button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"> Se connecter </button>
              </div>
              <div class="my-2 d-flex justify-content-between align-items-center">
                <div class="form-check">
                  <label class="form-check-label text-muted">
                    <input type="checkbox" class="form-check-input">
                    Enregistrer
                  </label>
                </div>
                <a href="#" class="auth-link text-grey">Mot de passe oublie?</a>
              </div>
              <div class="text-center mt-4 font-weight-light">
                Je n'ai pas de compte? <a asp-area="" asp-controller="Login" asp-action="Create" class="text-primary">Creer</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->