@{
    ViewData["Title"] = "Accueil";
}

<div class="container">
    <div class="page-banner home-banner">
    <div class="row align-items-center flex-wrap-reverse h-100">
        <div class="col-md-6 py-5 wow fadeInLeft">
        <h1 class="mb-4">Bienvenue, planifier votre carrier!</h1>
        <p class="text-lg text-grey mb-5">Ce site a ete concue pour vous guider dans la recherche d'un employe.</p>
        <a href="#" class="btn btn-primary btn-split">Commencer <div class="fab"><span class="mai-play"></span></div></a>
        </div>
        <div class="col-md-6 py-5 wow zoomIn">
        <div class="img-fluid text-center">
            <img src="~/img/banner_image_1.svg" alt="">
        </div>
        </div>
    </div>
    <a href="#about" class="btn-scroll" data-role="smoothscroll"><span class="mai-arrow-down"></span></a>
    </div>
</div>
