@{
    ViewData["Title"] = "Annonce";
}

<div class="page-section pt-5">
    <div class="container">
      <nav aria-label="Breadcrumb">
        <ul class="breadcrumb p-0 mb-0 bg-transparent">
          <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Accueil</a></li>
          <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Annonce">Annonce</a></li>
          <li class="breadcrumb-item active">Details</li>
        </ul>
      </nav>
      
      <div class="row">
        <div class="col-lg-8">
          <div class="blog-single-wrap">
            <h1 class="post-title">Ingenieur Prix et Chiffrage</h1>
            <div class="post-meta mt-3 mb-5">
              <div class="post-date">
                <span class="icon">
                  <span class="mai-time-outline"></span>
                </span> <a href="#">01/01/2023</a>
              </div>
              <div class="post-comment-count ml-2">
                <span class="icon">
                  <span class="mai-business-outline"></span>
                </span> <a href="#">SeGram.</a>
              </div>
            </div>
            <div class="post-content">
              <p>SeoGram. vous propose un contrat de travail a durree indeterminee</p>
              <p>L'Ingenieur de chiffrage est charge de determiner les couts associes a la realisations des projets ou des produits, d'etablir des avis competitif.</p>
            </div>
            <div class="col-lg-6 py-3 wow fadeInUp">
              <span class="subhead">Profil</span>
              <div class="divider"></div>

              <p>
                <span class="text-dark">Critere: </span> CritereOption <br>
                <span class="text-dark">Critere: </span> CritereOption <br>
                <span class="text-dark">Critere: </span> CritereOption <br>
                <span class="text-dark">Critere: </span> CritereOption <br>
                <span class="text-dark">Critere: </span> CritereOption <br>
              </p>
              <a href="#" class="btn btn-primary mt-3">Postuler</a>
            </div>
          </div>

        </div>
        <div class="col-lg-4">
          <div class="widget">
            <!-- Widget search -->
            <div class="widget-box">
              <form action="#" class="search-widget">
                <input type="text" class="form-control" placeholder="Entrez un mot..">
                <button type="submit" class="btn btn-primary btn-block">Recherche</button>
              </form>
            </div>

            <!-- Widget Categories -->
            <div class="widget-box">
              <h4 class="widget-title">Type Contrat</h4>
              <div class="divider"></div>

              <ul class="categories">
                <li><a href="#">Duree indeterminee</a></li>
                <li><a href="#">Duree determinee</a></li>
                <li><a href="#">CDI interimaire</a></li>
                <li><a href="#">Duree determinee Senior</a></li>
                <li><a href="#">Travail a temps partiel</a></li>
              </ul>
            </div>

            <!-- Widget Tag Cloud -->
            <div class="widget-box">
              <h4 class="widget-title">Service</h4>
              <div class="divider"></div>

              <div class="tag-clouds">
                <a href="#" class="tag-cloud-link">RH</a>
                <a href="#" class="tag-cloud-link">Commercial</a>
                <a href="#" class="tag-cloud-link">Informatique</a>
                <a href="#" class="tag-cloud-link">Stock</a>
                <a href="#" class="tag-cloud-link">Autre</a>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>