<%@page contentType="text/html" pageEncoding="UTF-8"%>
<%@ page import="Controller.*, java.util.ArrayList, Modele.*"  %>
<%
    ArrayList<Animal> listes = (ArrayList<Animal>)request.getAttribute("animals");
    int idUser = listes.get(0).getIdUser();
%>
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="js/jquery-3.6.0.js"></script>
        <script type="text/javascript"></script>
        <title>VetClinic</title>
    </head>
    <body>
        <p>
            <form action="soin" method="post">
                <input type="submit" value="Demande de soin">
            </form>
        </p>
        
        <p>
            <form action="rdv" method="post">
                <input type="submit" value="Demande de rendez-vous">
            </form>
        </p>
        
        <p>
            <button type="button" id="<%=idUser %>" class="ajouter">Ajouter animal</button>
        </p>
        
        <p>
            <form action="vente" method="post">
               <input type="submit" value="Vente">
            </form>
        </p>
        
        <div id="form"></div>
        
        <table>
            <tr>
                <th></th>
                <th>Nom</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <% for(Animal animal: listes){ %>
               <tr>
                   <td><img src="image/animaux/<%out.print(animal.getPhoto()); %>" width="150px" height="150px"></td>
                   <td><b><%  out.print(animal.getNom()); %></b></td>
                   <td>
                        <form action="suivie" method="post">
                            <input type="hidden" name="idAnimal" value="<%out.print(animal.getId()); %>">
                            <input type="submit" value="Consulter suivie">
                        </form>
                    </td>
                    <td><button type="button" id="<%=animal.getId()%>" class="edit">Edit</button></td>
                    <td><button type="button" id="<%=animal.getId()%>" class="delete">Supprimer</button></td>
                </tr>
           <% } %>
        </table>
        
        <script>
            $(document).ready(function() {
                    $(".ajouter").click(function() {
                        var id = this.id; 
                        $.ajax({
                        url: "ajoutAnimal",
                        type: "get",
                        data: {id: id},
                        success : function(result){
                          $('#form').html(result); 
                        }
                        });
                    });
                    
                    $(".edit").click(function() {
                        var id = this.id; 
                        $.ajax({
                        url: "updateAnimal",
                        type: "get",
                        data: {id: id},
                        success : function(result){
                          $('#form').html(result); 
                        }
                        });
                    });
                    
                    $(".delete").click(function() {
                        if( confirm("Voulez-vous vraiment suprrimer cette élément?") )
                        {
                            var id = this.id; 
                            $.ajax({
                            url: "deleteAnimal",
                            type: "GET",
                            data: {id: id},
                            success : function(result){
                               window.location.reload();
                            }
                            });
                        }
                    });
            });  
        </script>
    </body>
</html>
